@keyframes blink {
    0% {
      transform: scale(1);
      background-color: #fbbf24;
      box-shadow: 0 0 10px rgba(255, 159, 0, 0.8), 0 0 20px rgba(255, 159, 0, 0.6);
    }
    50% {
      transform: scale(1.1);
      background-color: #f59e0b;
      box-shadow: 0 0 15px rgba(255, 159, 0, 0.9), 0 0 25px rgba(255, 159, 0, 0.7);
    }
    100% {
      transform: scale(1);
      background-color: #fbbf24;
      box-shadow: 0 0 10px rgba(255, 159, 0, 0.8), 0 0 20px rgba(255, 159, 0, 0.6);
    }
  }
  
  .animate-blink {
    animation: blink 1.5s ease-in-out infinite;
  }
  
  /* Ánh sáng khi hover */
  .home-page button:hover {
    animation: blink 1s ease-in-out infinite;
    box-shadow: 0 0 20px rgba(255, 159, 0, 0.8), 0 0 40px rgba(255, 159, 0, 0.6);
    transform: scale(1.1);
  }
  